.contest {
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;

  box-sizing: border-box;
}

.contest__slogan {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.contest__text {
  display: none;
}

.contest__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -20px;
  margin-left: -20px;
}

.contest__form-section {
  &--grey {
    background-color: $light-grey;
  }

  &--personal-info {
    order: -1;
  }

  &--goals {
    order: 1;
  }

  &--contacts {
    order: 2;
  }

  &--apps {
    order: 3;
  }

  &--emotions {
    order: 4;
  }
}

.contest__button {
  margin-top: 8px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .contest {
    padding-top: 90px;
  }

  .contest__slogan {
    margin-bottom: 40px;
    padding-left: 55px;
    padding-right: 55px;

    font-size: 18px;
  }

  .contest__text {
    display: block;
  }

  .contest__form {
    margin-right: 0;
    margin-left: 0;
  }

  .contest__form-section {
    order: 0;

    border: 2px solid $border-light;
    border-radius: 3px;

    &--personal-info {
      padding-bottom: 0;
      border: none;
    }

    &--contacts {
      padding-bottom: 0;
    }

    &--emotions {
      padding-bottom: 40px;
    }

    &--grey {
      background-color: transparent;
    }
  }

  .contest__button {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    max-width: 940px;
    width: 100%;

    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 92px;
  }

  .contest__header {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 26px;
  }

  .contest__text {
    display: inline-block;
  }

  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contest__form-section {
    &--personal-info {
      width: 435px;
      padding-top: 18px;
      padding-bottom: 0;
    }

    &--goals {
      padding-bottom: 15px;
    }

    &--contacts {
      padding-right: 58px;
      padding-left: 58px;
    }

    &--emotions {
      padding-top: 30px;
      padding-bottom: 38px;
    }

    &--apps {
      width: 435px;
    }
  }
}
