.container {
  max-width: 940px;
  width: 100%;

  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.container__item {
  &--negative-offset {
    margin-right: -20px;
    margin-left: -20px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
