.container {
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;

  box-sizing: border-box;
}

.container__item {
  &--negative-offset {
    margin-right: -20px;
    margin-left: -20px;
  }
}
