.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin-right: 15px;

  font-size: 14px;
  color: $blue;
}

.copyright__logo {
  &:hover path,
  &:focus path {
    fill: $blue;
  }

  &:active path {
    fill: $grey;
  }
}
