.download-app {
  background-color: $dark-blue;
}

.download-app__wrapper {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 30px;
}

.download-app__list {
  @include rest-list;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 20px;
}

.download-app__description {
  margin-right: 8.4%;
  margin-left: 8.4%;

  text-align: center;
  font-weight: 300;
}
