.field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.field__label {
  margin-left: 21px;
  margin-bottom: 6px;

  line-height: 30px;
  text-transform: uppercase;
  color: $pink;
}

.field__input,
.field__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $blue;
}

.field__input {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;

  border: 2px solid $border-light;
  border-radius: 3px;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &:active {
    border-color: $pink;
  }
}

.field__icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .field {
    &:not(:last-child) {
      margin-bottom: 51px;
    }
  }

  .field__label {
    margin-left: 0;
    margin-right: 20px;
  }

  .field__input {
    flex-grow: 1;

    &--icon {
      padding-right: 62px;
    }
  }

  .field__icon {
    display: block;

    position: absolute;
    top: 0;
    right: 58px;

    width: 62px;
    height: 63px;

    background-color: $border-light;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid $border-light;
    border-left: none;
    box-sizing: border-box;

    &--phone {
      background-image: url("../img/icon-phone.svg");
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .field__input:hover + .field__icon,
  .field__input:focus + .field__icon {
    border-color: $blue;
  }

  .field__input:active + .field__icon {
    border-color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .field {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  .field__label {
    margin-bottom: 0;
  }

  .field__input {
    &--phone,
    &--email {
      width: 100%;
      margin-bottom: 10px;

      box-sizing: border-box;
    }
  }

  .field__icon {
    top: 0;
    right: 0;
  }
}
