.field-range {
  position: relative;

  height: 14px;

  padding-bottom: 28px;
  padding-right: 20px;
  padding-left: 20px;

  border-bottom: 1px solid $tabs-range-gray;

  &:active .field-range__thumb {
    background-color: $pink;
  }
}

.field-range__track {
  position: absolute;
  top: 6px;
  left: 11.9%;

  width: 75%;
  height: 2px;

  background-color: $blue;
}

.field-range__thumb {
  position: absolute;
  top: 0;
  right: 23.4%;

  width: 14px;
  height: 14px;

  background-color: $light-grey;
  border: 2px solid $pink;
  border-radius: 50%;

  box-sizing: border-box;
}

.field-range__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .field-range {
    padding-right: 0;
    padding-left: 55px;
  }

  .field-range__track {
    right: 18px;
    left: unset;
  }

  .field-range__thumb {
    &--color {
      right: 65%;
    }

    &--contrast {
      right: 40%;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-range__track {
    right: 30px;
  }
}
