.footer-logo {
  color: $blue;

  &:hover .footer-logo__image,
  &:focus .footer-logo__image {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .footer-logo__image {
    fill: unset;
  }
}

.footer-logo__image {
  fill: currentColor;
  width: 147px;
  height: 40px;
}
