.footer-info {
  padding-top: 35px;
  padding-bottom: 40px;

  text-align: center;
}

.footer-info__social {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .footer-info__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    max-width: 940px;
    width: 100%;

    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;
  }

  .footer-info__logo {
    align-self: flex-start;
  }

  .footer-info__social {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -15px;
  }
}

@media (min-width: $desktop-width) {
  .footer-info {
    padding-top: 50px;
  }

  .footer-info__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-info__social {
    margin-left: 10px;
  }
}
