.form-section {
  width: 100%;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 44px;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

.form-section__legend {
  display: block;
  width: 100%;

  padding: 0;
  margin: 0;
  padding-top: 38px;
  padding-left: 50px;
  padding-right: 50px;

  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $pink;

  background-color: $light-grey;
  box-sizing: border-box;
}

.form-section__item {
  padding-right: 20px;
  padding-left: 20px;
}

.form-section__field--textarea,
.form-section__field--textarea::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: $blue;
}

.form-section__field--textarea {
  width: 100%;
  min-height: 200px;

  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: -15px;

  border: 2px solid $border-light;
  border-radius: 3px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &:active {
    border-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .form-section {
    padding-bottom: 58px;
    padding-top: 35px;
  }

  .form-section__field--textarea {
    min-height: 194px;
  }

  .form-section__legend {
    width: unset;
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;

    line-height: 30px;

    background-color: unset;
  }

  .form-section__list {
    padding-left: 60px;
    margin-top: 10px;
  }

  .form-section__item {
    flex-direction: row;
    align-items: center;

    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-section__list {
    padding-left: 75px;
  }

  .form-section__field--textarea {
    min-height: 128px;
  }
}
