.intro {
  color: $white;
  background-color: $dark-blue;
}

.intro__header {
  min-height: 236px;

  padding-top: 95px;
  padding-left: 46px;
  padding-right: 46px;

  text-align: center;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: center;
  background-size: cover;

  box-sizing: border-box;
}

.intro--image .intro__header {
  position: relative;
  min-height: auto;
  padding-top: 88px;
  padding-bottom: 311px;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;

    width: 255px;
    height: 286px;
    margin-left: -160px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-resolution: $min-dpi), (min-resolution: $min-dppx) {
  .intro__header {
    background-image: url("../img/bg-back-mobile@2x.jpg");

    .intro--image .intro__header {
      &::before {
        background-image: url("../img/iphone-hand-mobile@2x.png");
        background-size: 258px auto;
      }
    }
  }
}

.intro__slogan {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.intro__downloads {
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 439px;
    padding-bottom: 78px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: center;

    box-sizing: border-box;

    &--image {
      padding-top: 200px;
      padding-bottom: 110px;

      font-size: 40px;

      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
      background-position: center 185px, center 0;
    }
  }

  .intro--image .intro__header {
    padding-top: 0;
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }

  .intro__wrapper {
    max-width: 940px;
    width: 100%;

    margin: 0 auto;

    box-sizing: border-box;
  }

  .intro__header {
    min-height: auto;
    padding: 0;
    padding-top: 175px;

    background-image: none;
  }

  @media (min-resolution: $min-dpi), (min-resolution: $min-dppx) {
    .intro {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;

      &--image {
        background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
        background-size: 700px auto, 1200px auto;
      }
    }
  }

  .intro__slogan {
    padding-right: 50px;
    padding-left: 50px;

    font-size: 50px;
    line-height: 62px;
  }

  .intro--image .intro__slogan {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: 20px;

    font-size: 40px;
    line-height: 50px;

    box-sizing: border-box;
  }

  .intro__downloads {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position-y: 0;
    background-position-x: center;

    &--image {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .intro--image .intro__wrapper {
    padding-top: 218px;
    padding-bottom: 122px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 20px 210px;
  }

  .intro--image .intro__header {
    margin-bottom: 20px;
  }

  @media (min-resolution: $min-dpi), (min-resolution: $min-dppx) {
    .intro {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;

      &--image {
        background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
        background-size: 1050px auto, 2560px auto;
        background-position: center 185px, center 0;
      }
    }
  }

  .intro__slogan {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding-right: 95px;
    padding-left: 95px;

    font-size: 50px;

    box-sizing: border-box;
  }

  .intro--image .intro__slogan {
    margin-left: 0;
    padding-right: 30px;
    padding-left: 30px;

    font-size: 50px;
    line-height: 62px;
  }
}
