.logo {
  position: absolute;

  z-index: 10;

  color: $white;

  &:hover .logo__image,
  &:focus .logo__image {
    fill: $pink;
  }

  &:active .logo__image {
    fill: $white;
    opacity: 0.3;
  }

  &--footer {
    position: static;
    color: $blue;
    line-height: 0;
  }
}

.logo__image {
  fill: currentColor;
  width: 75px;
  height: 22px;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.logo--footer .logo__image {
  width: 147px;
  height: 40px;

  &:active {
    fill: $blue;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    display: none;
    width: 146px;
    height: 40px;

    &--tablet {
      display: block;
    }
  }

  .logo--footer .logo__image {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
