.main-nav {
  position: relative;

  width: 100%;
  height: auto;

  &--opened {
    background-color: $blue;
  }
}

.main-nav__toggle {
  @include button-reset;
  @include no-outline;

  display: block;
  height: 24px;
  width: 50px;

  font-size: 0;

  margin-top: 22px;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 21px;
    right: 20px;

    width: 50px;
    height: 4px;

    background-color: $white;
    box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
  }

  &:hover::before,
  &:focus::before {
    background-color: $pink;
    box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 18px;

    width: 29px;
    height: 5px;

    background-color: $white;
    border-radius: 1px;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

@media (max-width: $less-desktop-width) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--no-js .main-nav__wrapper {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    margin-top: 44px;
    margin-bottom: 42px;
  }

  .main-nav--closed .main-nav__toggle::before {
    top: 44px;
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      top: 53px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 670px;
  }

  .main-nav__toggle {
    display: none;
  }
}
