.main-nav {
  position: relative;

  width: 100%;
  height: auto;
}

.main-nav__toggle {
  @include button-rest;
  @include no-outline;

  display: block;
  height: 24px;
  width: 50px;

  font-size: 0;

  margin-top: 22px;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 20px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 21px;
  right: 20px;

  width: 50px;
  height: 4px;

  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: $pink;
  box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--closed .site-list__link {
  display: none;
}

.main-nav--opened {
  background-color: $blue;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 30px;
    right: 19px;

    width: 24px;
    height: 4px;

    background-color: $white;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
