.new-post {
  background-color: $light-grey;
}

.new-post__header {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 12px;
  padding-left: 12px;

  background-color: $white;
}

.new-post__slogan {
  line-height: 2.14;
  text-align: center;
}

.new-post__input {
  display: none;
}

.new-post__input + .new-post__input-label {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .new-post__slogan {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media (min-width: $desktop-width) {
  .new-post {
    background-color: unset;
  }
}
