.post-edit {
  padding-top: 20px;
  padding-bottom: 40px;
}

.post-edit__wrapper {
  background-color: $light-grey;
}

.post-edit__image {
  width: 100%;
  height: auto;
  margin: 0;
}

.post-edit__tabs {
  margin-bottom: 35px;
  padding-top: 35px;
}

.post-edit__tab {
  display: none;

  &:first-child {
    display: block;
  }
}

.post-edit__button:not(:last-of-type) {
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .post-edit {
    padding-top: 58px;
    padding-bottom: 48px;
  }

  .post-edit__form {
    display: flex;
  }

  .post-edit__form-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .post-edit__tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-left: 42px;
    margin-bottom: 58px;
    padding-top: 0;

    box-sizing: border-box;
  }

  .post-edit__tab {
    display: block;
    width: 100%;
  }

  .post-edit__button {
    width: 100%;
    margin-right: 13px;
    margin-left: 47px;
  }
}

@media (min-width: $desktop-width) {
  .post-edit {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .post-edit__wrapper {
    padding-top: 58px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 50px;
  }

  .post-edit__tabs {
    min-width: auto;
    margin-left: 90px;
  }

  .post-edit__button {
    width: 183px;
    margin: 0;
    margin-top: auto;
    margin-bottom: 6px;

    &:last-of-type {
      margin-left: auto;
    }
  }

  .post-edit__button:not(:last-of-type) {
    margin-left: 90px;
    margin-bottom: 6px;
  }
}
