.post-edit {
  padding-top: 20px;
  padding-bottom: 40px;
}

.post-edit__image {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.post-edit__tabs {
  margin-bottom: 38px;
  padding-top: 38px;
}

.post-edit__button:not(:last-of-type) {
  margin-bottom: 12px;
}
