.price-table__th {
  position: relative;

  &--hit {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 73px;
      height: 73px;

      background-image: url("../img/bg-hit.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &::after {
      content: "хит";

      position: absolute;
      top: 18px;
      left: 11px;

      width: 26px;
      height: 14px;

      color: $white;
      line-height: 1;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;

      transform: rotate(-45deg);
    }
  }

  &--hidden-mobile {
    display: none;
  }
}

.price-table__currency {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.price-table__td {
  &--hidden-mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .price-table__th {
    &--hidden-mobile {
      display: block;

      background-color: transparent;
    }

    &--hit {
      &::before {
        width: 61px;
        height: 61px;
      }

      &::after {
        top: 13px;
        left: 9px;
      }
    }
  }

  .price-table__currency {
    font-size: 18px;
    line-height: 1.67;
  }

  .price-table__td {
    &--hidden-mobile {
      display: block;

      font-size: 14px;
      text-transform: initial;
    }
  }
}

@media (min-width: $desktop-width) {
  .price-table__currency {
    font-size: 24px;
    line-height: 1.25;
  }

  .price-table__th {
    &--hit {
      &::before {
        width: 72px;
        height: 72px;
      }

      &::after {
        top: 18px;
        left: 9px;
      }
    }
  }

  .price-table__td {
    &--hidden-mobile {
      font-size: 18px;
    }
  }
}
