.price {
  background-color: $light-grey;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  overflow: hidden;

  padding-top: 66px;
  padding-bottom: 45px;
}

.price__table {
  margin-bottom: 30px;
}
