.research {
  display: none;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
  }

  .research__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    min-height: 338px;
    padding-top: 100px;
    padding-left: 330px;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 239px;
    background-position: 20px 59px;

    box-sizing: border-box;

    &::before {
      content: "24";

      position: absolute;
      top: 115px;
      left: 39px;

      height: 202px;
      width: 202px;

      font-size: 96px;
      font-weight: bold;
      line-height: 1.66;
      text-align: center;
      color: $pink;

      border: 13px solid $pink;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }

  .research__slogan {
    margin-bottom: 15px;
    padding-right: 140px;

    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: $black;
  }

  .research__link {
    color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .research {
    padding-bottom: 67px;

    background-color: $light-grey;
  }

  .research__wrapper {
    padding-left: 365px;
  }

  .research__slogan {
    margin-bottom: 20px;
  }

  .research__text,
  .research__link {
    font-size: 18px;
  }
}
