.reviews {
  padding-bottom: 31px;
}

.reviews__wrapper {
  margin-bottom: 40px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding-top: 100px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-top: 188px;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 72px;
  }
}
