.site-list {
  @include rest-list;
}

.site-list__link {
  display: block;

  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 63px;
  color: $white;
  font-weight: bold;

  background-color: $blue;
  box-shadow: 0 -1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item:last-child .site-list__link {
  box-shadow: 0 -1px 0 0 #000000, 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
