.slide-arrow {
  @include button-reset;
  @include no-outline;

  width: 22px;
  height: 41px;

  font-size: 0;
  color: $blue;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slide-arrow__image {
  width: 22px;
  height: 41px;

  &--right {
    transform: rotate(180deg);
  }
}
