.socials-list {
  @include reset-list;

  margin-top: 35px;
  margin-bottom: 30px;

  line-height: 0;
}

.socials-list__item {
  display: inline-block;

  margin-right: 12px;
}

.socials-list__item:last-child {
  margin-right: 0;
}

.socials-list__link {
  display: block;

  width: 51px;
  height: 51px;

  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid $light;
  border-radius: 50%;
  box-sizing: border-box;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .socials-list {
    margin-top: 0;
    margin-bottom: 0;
  }
}
