.table {
  width: 840px;

  border-collapse: separate;
  border-spacing: 0;
}

.table__header {
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.table__header-field {
  min-width: 278px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $blue;
  border-right: 2px solid $border-light;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }
}

.table__tariff-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.table__field {
  position: relative;

  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 68px;

  line-height: 2.14;
  text-transform: uppercase;

  border: 2px solid $border-light;
  border-top: none;
  background-color: $white;
}

.table__field:not(:nth-child(2)) {
  border-left: none;
}
