.table {
  width: 840px;

  border-collapse: separate;
  border-spacing: 0;
}

.table__header {
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.table__header-field {
  min-width: 278px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $blue;
  border-right: 2px solid $border-light;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }
}

.table__tariff-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}

.table__field {
  position: relative;

  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 68px;

  line-height: 2.14;
  text-transform: uppercase;

  border: 2px solid $border-light;
  border-top: none;
  background-color: $white;
}

.table__field:not(:nth-child(2)) {
  border-left: none;
}

@media (min-width: $tablet-width) {
  .table {
    width: 100%;
  }

  .table__header-field {
    min-width: 154px;

    padding-top: 14px;
    padding-bottom: 10px;
  }

  .table__tariff-title {
    font-size: 16px;
    line-height: 1.88;
  }

  .table__field {
    min-height: 49px;
    padding: 0;
    padding-left: 15px;
    padding-top: 8px;

    box-sizing: border-box;

    &:not(:last-child) {
      border-right: none;
    }
  }

  .table__field:not(:nth-child(2)) {
    border-left: 2px solid $border-light;
  }

  .table__row:first-child .table__field:first-child {
    border-top: 2px solid $border-light;
  }

  .table__field-text {
    &--hidden-desktop-n-tablet {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .table__header-field {
    padding-top: 18px;
    padding-bottom: 19px;
  }

  .table__tariff-title {
    display: inline-block;
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 1.67;
  }

  .table__field {
    min-height: 61px;
  }
}
