.tabs {
  padding: 0;
  margin: 0;
  border: none;
}

.tabs__content-range {
  position: relative;
  display: none;

  width: 280px;
  height: 14px;

  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 28px;

  border-bottom: 1px solid $tabs-range-gray;

  &--active {
    display: block;
  }

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 18px;

    width: 240px;
    height: 2px;

    background-color: $blue;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 55px;

    width: 14px;
    height: 14px;

    background-color: $light-grey;
    border: 2px solid $pink;
    border-radius: 50%;

    box-sizing: border-box;
  }

  &--active::after {
    background-color: $pink;
  }
}

.tabs__content-input {
  display: none;
}
