.tabs {
  padding: 0;
  margin: 0;
  border: none;
}

.tabs__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabs__tab {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .tabs {
    background-image: repeating-linear-gradient($light-grey 0, $light-grey 55px, $tabs-range-gray 55px, $tabs-range-gray 56px, $light-grey 56px, $light-grey 128px, $tabs-range-gray 128px, $tabs-range-gray 129px, $light-grey 129px, $light-grey 198px, $tabs-range-gray 198px, $tabs-range-gray 199px);
  }

  .tabs__controls {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 185px;
  }

  .tabs__content {
    flex-grow: 1;
    margin-left: 19px;
    margin-right: 0;
  }

  .tabs__tab {
    &:first-child {
      margin-top: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .tabs__controls {
    height: 181px;
  }

  .tabs__content {
    margin-left: 48px;
  }
}
