.tabs {
  padding: 0;
  margin: 0;
  border: none;
}

.tabs__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 35px;
  padding-right: 45px;
}

.tabs__tab {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .tabs__controls {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding-right: 0;
    padding-left: 0;
  }

  .tabs__content {
    flex-grow: 1;
    margin-left: 19px;
    margin-right: 0;
  }

  .tabs__tab {
    &:first-child {
      margin-top: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .tabs__controls {
    align-items: center;
  }

  .tabs__content {
    margin-left: 48px;
  }
}
