.user-post {
  max-width: 300px;
  width: 100%;

  margin-bottom: 20px;

  &--panorama {
    position: relative;

    max-width: 100%;
    width: 100vw;

    &::before {
      content: "Панорама дня";

      position: absolute;
      top: 0;
      right: 20px;

      width: 140px;
      padding-top: 6px;
      padding-bottom: 6px;

      color: $white;
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;

      background-color: $pink;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.user-post--panorama .user-post__content {
  margin-right: 20px;
  margin-left: 20px;
}

.user-post__image {
  width: 100%;
  height: auto;
  margin-bottom: -6px;
}

.user-post__content {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 16px;

  background-color: $light-grey;
}

.user-post__info {
  margin: 0;
}

.user-post__text {
  margin: 0;
}

.user-post__user-name {
  font-weight: bold;
}

.user-post__time-counter {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.user-post__action {
  margin-top: 8px;
  margin-left: 2px;
}

@media (min-width: $tablet-width) {
  .user-post {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 20px;
    }

    &--panorama {
      margin-bottom: 50px;

      &::before {
        top: 60px;
        right: 20px;

        width: 140px;
      }
    }
  }

  .user-post__content {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    padding-top: 24px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 20px;

    box-sizing: border-box;
  }

  .user-post__action {
    margin-top: auto;
  }

  .user-post--panorama .user-post__image {
    min-height: 509px;
  }

  .user-post--panorama .user-post__content {
    width: 620px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 121px;
  }

  .user-post__info {
    margin-bottom: 0;
  }

  .user-post__text {
    margin-top: -4px;
  }

  .user-post--panorama .user-post__info {
    order: -2;
  }

  .user-post--panorama .user-post__action {
    order: -1;
    margin-left: auto;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-post {
    margin-bottom: 52px;

    &--panorama {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;

      box-sizing: border-box;
      overflow: hidden;

      &::before {
        top: 55px;
        right: 10.83%;
      }
    }

    &:last-child {
      margin-bottom: 54px;
    }
  }

  .user-post--panorama .user-post__image {
    min-height: unset;
    width: 1200px;
  }

  .user-post--panorama .user-post__content {
    min-height: 96px;
    width: 940px;

    margin-right: auto;
    margin-left: auto;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
