.user-gallery__header {
  width: 76%;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 48px;
}

.user-gallery__slogan {
  text-align: center;
  line-height: 2.14;
}

.user-gallery__wrapper {
  width: 87.5%;
  margin: 0 auto;
}
